version: "3"

services:
  postgres:
    build:
      context: .
      dockerfile: ./docker/pg-Dockerfile
    ports:
      - 5432:5432
    volumes:
      - .data/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  subquery-node-osmosis:
    image: subquerynetwork/subql-node-cosmos:latest
    depends_on:
      "postgres":
        condition: service_healthy
    restart: always
    environment:
      DB_USER: postgres
      DB_PASS: postgres
      DB_DATABASE: postgres
      DB_HOST: postgres
      DB_PORT: 5432
    volumes:
      - ./:/app
    command:
      - ${SUB_COMMAND:-} # set SUB_COMMAND env variable to "test" to run tests
      - -f=/app/project-osmosis.yaml
      - --multi-chain
      - --db-schema=multi-transfers
      - --disable-historical
      - --batch-size=30
    healthcheck:
      test: ["CMD", "curl", "-f", "http://subquery-node-osmosis:3000/ready"]
      interval: 3s
      timeout: 5s
      retries: 10
  subquery-node-secret:
    image: subquerynetwork/subql-node-cosmos:latest
    depends_on:
      "postgres":
        condition: service_healthy
    restart: always
    environment:
      DB_USER: postgres
      DB_PASS: postgres
      DB_DATABASE: postgres
      DB_HOST: postgres
      DB_PORT: 5432
    volumes:
      - ./:/app
    command:
      - ${SUB_COMMAND:-} # set SUB_COMMAND env variable to "test" to run tests
      - -f=/app/project-secret.yaml
      - --multi-chain
      - --db-schema=multi-transfers
      - --disable-historical
      - --batch-size=30
    healthcheck:
      test: ["CMD", "curl", "-f", "http://subquery-node-secret:3000/ready"]
      interval: 3s
      timeout: 5s
      retries: 10

  graphql-engine:
    image: onfinality/subql-query:latest
    ports:
      - 3001:3000
    depends_on:
      "postgres":
        condition: service_healthy
      "subquery-node-secret":
        condition: service_healthy
      "subquery-node-osmosis":
        condition: service_healthy
    restart: always
    environment:
      DB_USER: postgres
      DB_PASS: postgres
      DB_DATABASE: postgres
      DB_HOST: postgres
      DB_PORT: 5432
    command:
      - --name=multi-transfers
      - --playground
